.avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.floating-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
}

.carousel-wrapper {
    overflow-x: scroll;
}
