<ion-content>
  <ion-grid>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="8" size-md="6" size-lg="4" size-xl="4">
          <ion-img [src]="isDarkMode ? 'assets/drawable/koleg-var-white.svg' : 'assets/drawable/koleg.svg'"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="8" size-md="6" size-lg="4" size-xl="4">
          <h1> {{ 'RESET_PASSWORD_PAGE.RESET_PASSWORD_TITLE' | translate }} </h1>
          <ion-item>
            <ion-label position="floating">{{ 'RESET_PASSWORD_PAGE.EMAIL_PLACEHOLDER' | translate }}</ion-label>
            <ion-input autofocus="true" type="email" inputmode="email" formControlName="email" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isFormInvalid()" class="ion-justify-content-center">
        <ion-col size="12" size-sm="8" size-md="6" size-lg="4" size-xl="4">
          <ion-card color="danger">
            <ion-card-content>
              {{ (hasEmailValue() ? 'COMMON.FORMS.ERRORS.BAD_FORMAT' : 'COMMON.FORMS.ERRORS.FIELDS_REQUIRED') | translate }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-end" size="12" size-sm="8" size-md="6" size-lg="4" size-xl="4">
          <ion-button type="submit">{{ 'RESET_PASSWORD_PAGE.RESET_PASSWORD_BUTTON_LABEL' | translate }}</ion-button>
        </ion-col>
      </ion-row>

    </form>

  </ion-grid>
</ion-content>