<ion-card button>
  <ion-card-header>
    <ion-badge class="floatting-badge" *ngIf="user?.isExpired() && !user?.isDisabled" color="warning">{{ 'COMMON.EXPIRED' | translate }}</ion-badge>
    <ion-badge class="floatting-badge" *ngIf="user?.isDisabled" color="danger">{{ 'COMMON.DISABLED' | translate }}</ion-badge>
    <ion-avatar class="avatar">
      <ion-img [src]="user?.profilePictureUrl"></ion-img>
    </ion-avatar>
    <ion-card-subtitle class="ion-margin-top">{{ job?.name}}</ion-card-subtitle>
    <ion-card-title>{{ user?.firstName | titlecase }}</ion-card-title>
    <ion-card-title>{{ user?.lastName | uppercase }}</ion-card-title>
  </ion-card-header>
</ion-card>