.contact-form {
  ion-select {
    width: 40%;
  }
}

.picture-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-picture-icon {
  position: absolute;
  z-index: -1;
  font-size: 40px;
}

.avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid var(--ion-color-primary);
}

.job-form, .groups-form {
  ion-select {
    width: 100%;
  }
}

.reset-exp-date-button {
  z-index: 9999; // workaround for slot end (https://github.com/ionic-team/ionic-framework/issues/20112)
}
