<app-header></app-header>

<ion-content class="ion-justify-content-center">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="isLoading" (click)="onSubmit()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClickBackButton()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        {{ 'COMMON.BACK' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="8" size-xl="7">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ (isUpdate ? 'JOB_EDIT_PAGE.TITLE_UPDATE' : 'JOB_EDIT_PAGE.TITLE') | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <!-- name field -->
              <ion-item [ngClass]="getValidationClasses(formGroup.get(jobFormKey.NAME))">
                <ion-label position="floating">{{ 'MODELS.JOB.NAME' | translate }}</ion-label>
                <ion-input type="text" inputmode="text" [formControlName]="jobFormKey.NAME" required>
                </ion-input>
              </ion-item>

              <ng-container *ngFor="let validation of validationMessages[jobFormKey.NAME]">
                <div class="validation-errors"
                  *ngIf="shouldDisplayErrorMessage(formGroup.get(jobFormKey.NAME), validation.type)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ validation.message | translate: {arg: ('MODELS.JOB.NAME' | translate | lowercase) } }}
                </div>
              </ng-container>

              <!-- description field -->
              <ion-item [ngClass]="getValidationClasses(formGroup.get(jobFormKey.DESCRIPTION))">
                <ion-label position="floating">{{ 'MODELS.JOB.DESCRIPTION' | translate }}</ion-label>
                <ion-textarea type="text" inputmode="text"
                  [placeholder]="'JOB_EDIT_PAGE.FORM.DESCRIPTION_PLACEHOLDER' | translate"
                  [formControlName]="jobFormKey.DESCRIPTION" autoGrow="true" [maxlength]="descriptionMaxLength">
                </ion-textarea>
              </ion-item>

              <ng-container *ngFor="let validation of validationMessages[jobFormKey.DESCRIPTION]">
                <div class="validation-errors"
                  *ngIf="shouldDisplayErrorMessage(formGroup.get(jobFormKey.DESCRIPTION), validation.type)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ validation.message | translate: {arg: descriptionMaxLength }
                  }}
                </div>
              </ng-container>
            </form>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>